$imgPath: '~img/chart';

$defaultTextColor: #DDDDDD;
$defaultDialogDivider: #282828;
$defaultDropdownBtnBorderColor: #626262;
$defaultSpectrumBorderColor: #161616;
$defaultBoxShadow: 0 0 11px -1px rgba(150, 150, 150, 0.8);
$defaultDropdownMenuSelectedColor: rgba(215, 219, 52, 1);
$defaultDropdownMenuHoverColor: rgba(215, 219, 52, .15);
$defaultToolbarBorderColor: #AFAFAF;
$defaultBorderColorActivated: #5EC6E8;
$defaultBackgroundColor: #2B2B2B;
$defaultTextColorOnHover: #666666;
$defaultBtnWrapperBackground: #3D3D3D;
$defaultToolbarTextColor: #D0D0D0;
$defaultToolbarButtonsBorder: 1px solid #636363;
$defaultInputBackgroundColor: #313131;
$defaultWaitingBarBackgroundColor: rgba(0, 0, 0, 0.6);
$defaultWaitingBarTextColor: #EEE;
$defaultWaitingBarDotColor: #CCC;
$defaultDisabledElementColor: #3f3f3f;
$defaultDropdownDisabledColor: #3C3C3C;
$defaultDisabledTextColor: #666666;
$defaultNavigationBtnHoverColor: rgba(226, 226, 226, 0.80);
$defaultNavigationDivHoverColor: rgb(45, 45, 45);
